@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #9CAFAA;
    color: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}